{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
    <head>
        {% tailwind_css %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body>
        <nav>
            <ul>
                <!-- Other menu items... -->
                {% if user.is_authenticated %}
                    <li><a href="{% url 'base:logout' %}" class="text-red-500 hover:text-red-600">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'base:Login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block main %}
        
        {% endblock  %}

    </body>
</html>