{% extends "base.html" %}

{% block main %}
<div class="container mx-auto py-8">
    <h1 class="text-3xl font-semibold text-center mb-8 text-cyan-600">Available Equipment</h1>

    {% if equipments %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for equipment in equipments %}
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <img src="{{ equipment.picture.url }}" alt="{{ equipment.name }}" class="w-full h-48 object-cover">
            <div class="p-4">
                <h2 class="text-lg font-bold text-gray-800">{{ equipment.name }}</h2>
                <p class="text-gray-600">{{ equipment.type }}</p>
                <p class="text-gray-600">Available: {{ equipment.available_amount }}</p>

                <div x-data="{ availableAmount: {{ equipment.available_amount }} }">
                    <a href="{% url 'renting:booking' equipment.id %}" 
                       class="block mt-4 bg-cyan-500 text-white text-center py-2 px-4 rounded hover:bg-cyan-600 transition duration-300"
                       :class="{ 'opacity-50 cursor-not-allowed bg-gray-500 hover:bg-gray-700 transition duration-300': availableAmount === 0 }"
                       @click.prevent="availableAmount === 0 ? false : window.location = $event.target.href">
                       Rent Now
                    </a>
                    <p x-show="availableAmount === 0" class="text-red-500 mt-2">Not available for rent.</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-gray-500">No equipment available at the moment.</p>
    {% endif %}
</div>
{% endblock %}
