{% extends "base.html" %}
{% block main %}

<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto ">
      <div
        class="absolute inset-0 bg-gradient-to-r from-cyan-400 to-sky-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
      </div>
      <div class="relative px-10 py-12 bg-white shadow-lg sm:rounded-3xl sm:p-20">
        <div class="max-w-md mx-auto" x-data="{ email: '' }">
          <div class="text-center">
            <h1 class="text-3xl font-bold mb-4 text-gray-800">Forgot Password</h1>
            <p class="text-sm text-gray-600" >ระบบเช่ายืมอุปกรณ์กีฬา</p>
            <p class="text-sm text-gray-600">Enter your email to reset your password</p>
          </div>
          <div class="divide-y divide-gray-200">
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
            
            {% if form.errors %}
            <div class="bg-red-100 text-red-700 p-3 rounded mb-4">
                {% for key, value in form.errors.items %}
                    <p>{{ value }}</p>
                {% endfor %}
            </div>
            {% endif %}
            
            <form method="POST">
            {% csrf_token %}
            
            <div class="relative mb-4">
              <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
              <input type="email" id="email" name="email" x-model="email" class="input input-bordered w-full rounded-lg mt-1 border-gray-300 focus:ring-cyan-500 focus:border-cyan-500" placeholder='Enter Email' required>
              {% if form.email.errors %}
                  <p class="text-red-500 text-xs font-light mt-1">* {{ form.email.errors.as_text }} *</p>
              {% endif %}
            </div>
            
            <div class="relative mt-6 flex justify-center">
                <button class="w-1/2 py-2 bg-cyan-500 text-white font-semibold rounded-lg shadow-md hover:bg-cyan-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" x-show='email'>Submit</button>
            </div>
            </form>

            <div class="text-center mt-6">
                <p class="text-sm text-gray-600">
                    <a href="{% url 'base:Register' %}" class="text-cyan-600 hover:text-cyan-700">Create A New Account</a>
                </p>
                <p class="text-sm text-gray-600 mt-2">
                    <a href="{% url 'base:Login' %}" class="text-cyan-600 hover:text-cyan-700">Back To Login</a>
                </p>
            </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

{% if messages %}
<div id="messageModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-white rounded-lg p-6 shadow-lg">
        <h2 class="text-2xl font-bold mb-4">Notification</h2>
        <p class="mb-4 text-gray-700 font-extrabold">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </p>
        <button class="mt-4 bg-cyan-500 text-white px-4 py-2 rounded-lg shadow hover:bg-cyan-600" id="closeModal">Close</button>
    </div>
</div>
<script>
    setTimeout(function() {
        window.location.href = "{% url 'base:Login' %}";
    }, 4000);
    document.getElementById('closeModal').addEventListener('click', function() {
        document.getElementById('messageModal').style.display = 'none';
    });
</script>
{% endif %}

{% endblock %}
